* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    min-height: 1px;
    position: relative;
    background-color: #f4efec;
    border: 1px solid #cfb9ab;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

ul {
    text-align: center;
    padding: 10px;
    list-style: none;
}

li {
    display: inline-block;
    text-decoration: none;
    color: #be863c !important;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #be863c;
    font-size: 16px;
    font-weight: 400;
    padding: 30px;
    padding: 5px 20px;
    margin: 10px;
}

.image-height {
    width: 100% !important;
    max-width: unset !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding: 30px 0;
    height: 80vh;
}

.top {
    position: relative;
}

.second {
    position: absolute;
    top: 34Vh;
    left: 4.5vw;
    right: 4.5vw;
    text-align: center;
    align-items: center;
    font-size: 52px;
    font-weight: bold;
    font-family: Muli, sans-serif;
    color: #ffffff;
}

.main-para {
    padding-top: 10px;
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    font-family: Muli, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 2em;
    color: #272727;
    /* -webkit-tap-highlight-color: transparent; */
    /* -webkit-text-size-adjust: 100%; */
}


.lastPara{
    text-align: center;
}
.image-setup2{
    background-image: url("./image6FifthBlogPage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 570px;
    /* width: 40vw; */
    max-width: 100%;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.parabeforeImage2{
    text-align: justify;
    padding-top: 20px;
    padding-left: 30px;
    font-family: Muli,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 2em;
    color: #272727; 
    -webkit-text-size-adjust: 100%;
    font-size: 14.5px;
    width: 100%;
    max-width: 1340px;
    margin-bottom: 50px;
}
.headings{
    text-align: center;
    padding: 30px;
    color: #be863c;
    font-size: 2em;
    font-weight: 700;
    font-family: Muli,sans-serif;
}
.image-setup{
    background-image: url("./image4FifthBlogPage.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 10px 15px gray; */
    height: 400px;
    width: 600px;
    /* width: 40vw; */
    max-width: 100%;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
}
.parabeforeImage{
    text-align: justify;
    padding-top: 20px;
    padding-right: 10px;
    font-family: Muli,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 2em;
    color: #272727; 
    -webkit-text-size-adjust: 100%;
    font-size: 14.5px;
    width: 100%;
    max-width: 1340px;
    margin-bottom: 50px;
}

