@media screen and (min-width: 481px) and (max-width: 1275px) {
  /* Index.html Page */
  /* Header strip */
  .headerTopStrip span,
  .headerTopStrip a,
  .headerTopStrip i {
    font-size: 12px;
  }
  /* Navbar */
  .navbar1 {
    justify-content: space-between;
    padding: 0 50px;
  }
  .book-now button {
    background-color: white;
    color: #be863c;
    font-weight: bold;
  }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #272727;
  }
  .navbar1 {
    position: relative;
  }
  .nav-menu {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #be863c;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .active .nav-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    margin: 0;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* Slider */
  .slideshow-container {
    padding-top: 106px;
  }
  .dot {
    width: 10px;
    height: 10px;
    bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  /* Header Strip */
  .headerTopStrip {
    display: none;
  }
  /* Navbar */
  .navbar1 {
    justify-content: space-between;
    padding: 0 20px;
    height: 55px;
    background-color: white;
  }
  .brand-name img {
    max-height: 45px;
    max-width: 100px;
  }
  .mobile-nav-icon {
    width: 1.9rem;
    height: 1.9rem;
  }
  .book-now button {
    background-color: white;
    color: #be863c;
    font-weight: bold;
    margin-left: -40px;
  }
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    color: #272727;
  }
  .navbar1 {
    position: relative;
  }
  .nav-menu {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #be863c;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    margin: 0;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .navbar-link {
    padding-bottom: 10px;
  }
  .active .nav-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* Slider */
  .slideshow-container {
    padding-top: 55px;
  }
  .dot {
    width: 7px;
    height: 7px;
    bottom: 40px;
  }

  /* Content Box 1 */
  .name-block {
    padding: 15px 0;
  }
  .name-block h1 {
    font-size: 1.3em;
    margin: 0 0 10px 0;
  }
  .name-block h6 {
    font-size: 0.7em;
    margin: 0 0 10px 0;
  }
  .address-telephone {
    flex-direction: column;
  }
  .address-telephone .telephone-number-block .fa-stack,
  .address-telephone .address-email a .fa-stack {
    display: none;
  }
  .address-telephone .telephone-number,
  .address-telephone .address-email a span {
    font-size: 0.7em;
  }
  /* Main Container */
  .main-content-wrapper {
    padding: 30px 0;
  }
  .main-content-wrapper .content-1,
  .main-content-wrapper .content-3,
  .main-content-wrapper .content-4 {
    margin: 0 22.125px;
  }
  .main-content-wrapper .content-1 h1 span {
    font-size: 1.3em;
  }
  .main-content-wrapper .content-1 h1 img {
    width: 80px;
    height: 60px;
  }
  .main-content-wrapper .content-1 h2 span,
  .main-content-wrapper .content-2 h2,
  .main-content-wrapper .content-3 .content h2,
  .main-content-wrapper .content-4 .content h2 {
    font-size: 1em;
  }
  .main-content-wrapper .content-3 .content h2 {
    text-align: center;
  }
  .main-content-wrapper .content-1 div p {
    font-size: 9px;
    text-align: justify;
    margin: -15px 0;
  }
  .main-content-wrapper .content-3 .content p,
  .main-content-wrapper .content-4 .content p {
    font-size: 9px;
    text-align: justify;
  }
  .main-content-wrapper .content-3 .content p {
    padding-bottom: 10px;
  }

  .main-content-wrapper .content-2 h2 {
    margin: 25px 0;
  }
  .main-content-wrapper .content-3 .image {
    display: none;
  }
  .main-content-wrapper .content-3 .content {
    max-width: 100%;
    padding-right: 0;
  }
  /* Slider */
  .content-4 .card .content .title {
    font-size: 9px;
  }
  .content-4 .slider .card .content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content-4 .slider {
    padding-top: 12px;
  }
  .content-4 .slider .card {
    margin: 0 8px;
  }
  /* footer */
  .hotel-name {
    width: 100%;
    justify-content: center;
  }
  .hotel-city {
    display: none;
  }

  /* About Page */
  .head-content-about {
    height: 400px;
  }
  .head-content-about h1 {
    font-size: 1.5em;
  }
  .head-content-about-main {
    margin: 25px 40.425px;
  }
  .head-content-about-main .about-content-2 h2 {
    font-size: 1.5em;
    margin: 25px 0;
  }
  .head-content-about-main .about-content-2 .about-content-main {
    flex-direction: column;
  }
  .head-content-about-main .about-content-2 .about-content-main .image img {
    margin-top: 15px;
    width: 335px;
  }
  .head-content-about-main .about-content-2 .about-content-main .content {
    margin-right: 0;
  }
}
